@use './reset';
@use './colors';
@use './animation';
@use './mixin';

.container {
	position: relative;
	left: 0;
	top: 0;
	padding: 2em;
	max-width: 700px;
	min-width: 150px;
	margin: 3em auto;
	background-color: colors.$white;
	box-shadow: 0 10px 0 0 colors.$red inset;

	h1,
	h2 {
		color: colors.$red;
	}

	h1 {
		padding: 0.5em;
		text-align: center;
		text-transform: uppercase;
		font-size: 3.6rem;
		line-height: 42px;
		letter-spacing: 3px;
		animation: flipdown 0.5s ease both;
	}

	h2 {
		font-size: 2.6rem;
		line-height: 34px;
		letter-spacing: 1px;
		user-select: none;
		cursor: pointer;
	}

	p {
		position: relative;
		max-height: 800px;
		margin-top: 0.3em;
		font-size: 1.7rem;
		line-height: 26px;
		letter-spacing: 1px;
		color: colors.$black;
		opacity: 1;
		overflow: hidden;
		transform: translate(0, 0);
		z-index: 2;
		transition: all 0.25s ease-in-out;
	}

	.contact {
		position: relative;
		margin: 0.9em 0;
		opacity: 1;
		overflow: hidden;
		transform: translate(0, 0);
		z-index: 2;
		transition: all 0.25s ease-in-out;
		&__heading {
			margin-bottom: 0.5em;
		}
		&__form,
		&__form-top {
			@include mixin.setFlex(column);
		}
		&__form-label {
			margin-bottom: 0.5em;
			text-transform: uppercase;
		}
		&__form-input {
			@include mixin.contactForm;
		}
		&__form-textarea {
			@include mixin.contactForm;
			width: 100%;
			min-height: 150px;
			resize: vertical;
		}
		&__form-btn {
			align-self: flex-end;
			padding: 1em;
			width: 100%;
			max-width: 300px;
			border-radius: 8px;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		perspective: 900;

		li {
			position: relative;
			padding: 0;
			margin: 0;
			padding-bottom: 0.5em;
			padding-top: 0.5em;
			border-top: 1px solid colors.$grey;
			animation: flipdown 0.5s ease both;

			&:nth-of-type(1) {
				animation-delay: 0.5s;
			}

			&:nth-of-type(2) {
				animation-delay: 0.75s;
			}

			&:nth-of-type(3) {
				animation-delay: 1s;
			}

			&:last-of-type {
				padding-bottom: 0;
			}

			i {
				position: absolute;
				right: 30px;
				margin-top: 0.5em;
				transform: translate(-6px, 0);

				&:before,
				&:after {
					content: '';
					position: absolute;
					width: 3px;
					height: 9px;
					background-color: colors.$red;
					transition: all 0.25s ease-in-out;
				}

				&:before {
					transform: translate(-2px, 0) rotate(45deg);
				}

				&:after {
					transform: translate(2px, 0) rotate(-45deg);
				}
			}

			input[type='checkbox'] {
				position: absolute;
				width: 100%;
				height: 100%;
				cursor: pointer;
				z-index: 1;
				opacity: 0;

				&:checked ~ i:before {
					transform: translate(2px, 0) rotate(45deg);
				}

				&:checked ~ i:after {
					transform: translate(-2px, 0) rotate(-45deg);
				}

				&:checked ~ p,
				&:checked ~ .contact {
					@include mixin.checkedInput;
				}
			}
		}
	}
}
